<div id="profile_list"></div>
<div style="clear:left"></div>
<style type="text/css">
#profile_list div{
   border: 1px solid #F4F4F4;
   width:32%;
   margin:10px 3px 10px 0;
   float:left
}
#profile_list img {  
   float:left;
   margin:3px;
}
#profile_list ol {  
   margin:0;
   float:left;
   list-style: none;  
}  
#profile_list li {
   /*float: left;*/
   clear: left; /* to make it one collumn formed */
   list-style: none;
   font-size: 0.8em;
}
#profile_list li span{
   display:block;
   text-align:left;
}
#profile_list li span:nth-child(1){
   font-weight:bold;
   float:left;
   width:67%;
}
#profile_list li span:nth-child(2){
   width:32%;
   float:right;
}
.popup {
   position: fixed;
   font-family: Arial, Helvetica, sans-serif;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   z-index: 99999;
   opacity:0;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
   transition: opacity 400ms ease-in;
   /*pointer-events: none;*/
}
.popup > div {
   width: 470px;
   position: relative;
   margin: 10% auto;
   padding: 5px 20px 13px 20px;
   border-radius: 10px;
   background: #fff;
   background: -moz-linear-gradient(#fff, #999);
   background: -webkit-linear-gradient(#fff, #999);
   background: -o-linear-gradient(#fff, #999);

   -moz-box-shadow:0px 0px 10px 7px #777777;
   -webkit-box-shadow:0px 0px 10px 7px #777777;
   box-shadow:0px 0px 10px 7px #777777;
   padding-bottom:215px;
}
.popup .close {
   background: #606061;
   color: #FFFFFF;
   line-height: 25px;
   position: absolute;
   right: -12px;
   text-align: center;
   top: -10px;
   width: 24px;
   text-decoration: none;
   font-weight: bold;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -moz-box-shadow: 1px 1px 3px #000;
   -webkit-box-shadow: 1px 1px 3px #000;
   box-shadow: 1px 1px 3px #000;
   font-size:0.7em;
}
.popup .close:hover { background: #00d9ff; }
.popup fieldset {    
   float: left;    
/*   clear: both;   */
   width: 60%;    
   margin: 7px 10px 10px 10px;      
   /*padding: 0 0 1em 0; */
   border: 1px solid #BFBAB0;      
   /*background-color: #F2EFE9; */

   -moz-box-shadow:0px 0px 5px 3px #777777;
   -webkit-box-shadow:0px 0px 5px 3px #777777;
   box-shadow:0px 0px 5px 3px #777777;
}
fieldset input, fieldset select{
   width:20em;
}
label {
   float: left;
   width: 10em;
   margin-right: 1em;
   text-align: right;/* comment to make it left-aligned*/
}
fieldset ol {  
   padding: 1em 1em 0 1em;
   margin:0;
   list-style: none;  
}  
fieldset li {
   float: left;
   clear: left;/* to make it one collumn formed */
   width: 50%;
   padding-bottom: 1em;
   list-style: none;
}
fieldset.submit {    
   /*float: none;*/
   width: auto;    
   border-style: none;    

   margin: 0;
   padding: 0;

   /*padding-top: 1.5em; */
   /*padding-left: 12em;*/
   text-align: right;
   background-color: transparent;

   box-shadow: none;
   float: right;
}
fieldset.submit input{    
   width: auto;
}
.popup h3{
   padding:10px;
}
.popup .avatar{
   margin:10px;
   float:left;
   -moz-box-shadow:0px 0px 5px 3px #777777;
   -webkit-box-shadow:0px 0px 5px 3px #777777;
   box-shadow:0px 0px 5px 3px #777777;

}

</style>
<script type="text/javascript">
(function() {
    var httpRequest;
    makeRequest('GET', '/profiles/manage');

    function setEvent(elm, event, listener){
        if (elm.addEventListener)
            elm.addEventListener(event, listener, false); //everything else    
        else if (elm.attachEvent)
            elm.attachEvent(event, listener);  //IE only

        return elm;
    }

    function showUploadVideoPopup(item){
        var popup   = createElement('DIV', {'class': 'popup'});

        var header  = append(createElement('H3'),
                             createTextNode('Video for '+item.first_name+' - #'+item.id),
                             append(setEvent(createElement('A', {'class':'close',
                                                                 'href': '#close',
                                                                 'title':'Close'}),
                                             'click',
                                            (function(elm){
                                                return function(e){
                                                    elm.setAttribute('style', 'opacity:0');
                                                    setTimeout(function(){document.getElementsByTagName('BODY')[0].removeChild(elm);}, 500);
                                                    }})(popup)),
                                    createTextNode('x')));
        var profile = append(createElement('DIV', {'class': 'avatar'}),
                             createElement('IMG',
                                           {'src':    item.portrait,
                                            'width':  100,
                                            'height': 133}));

        var fieldset  = append(createElement('FIELDSET'),
                              append(createElement('OL'),
                                     append(createElement('LI'),
                                            append(createElement('LABEL',{'for': 'video'}),
                                                   createTextNode('Upload New Video:')),
                                            createElement('INPUT', {'type': 'file',
                                                                    'name': 'video'})),
                                     append(createElement('LI'),
                                            append(createElement('LABEL',{'for': 'title'}),
                                                   createTextNode('Title:')),
                                            createElement('INPUT', {'type': 'text',
                                                                    'name': 'title'}))));
        var submit  = append(createElement('FIELDSET', {'class': 'submit'}),
                             append(createElement('OL'),
                                    append(createElement('LI'),
                                           createElement('INPUT', {'type': 'submit',
                                                                   'name': 'submit',
                                                                   'value': 'Upload'}))));
        append(document.getElementsByTagName('BODY')[0],
               append(popup, append(createElement('DIV'), header,  profile, fieldset, submit)));

        setTimeout(function(){popup.setAttribute('style', 'opacity:100');}, 500);
    }

    function createElement(tag, attributes){
        attributes = attributes || false;
        var elm = document.createElement(tag);
        if(attributes){
            for(var i in attributes){
                elm.setAttribute(i, attributes[i]);
            }
        }
        
        return elm;
    }

    function createTextNode(text){
        return document.createTextNode(text);
    }


    function append(parent)
    {
        for(var i=1, max=arguments.length; i<max; i++){
            parent.appendChild(arguments[i]);
        }
        return parent;
    }

    function makeRequest(method, url) {
        if (window.XMLHttpRequest) { // Mozilla, Safari, ...
            httpRequest = new XMLHttpRequest();
        } else if (window.ActiveXObject) { // IE
            try {
                httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
            }
            catch (e) {
                try {
                    httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e) {}
            }
        }
        
        if (!httpRequest) {
            alert('Giving up :( Cannot create an XMLHTTP instance');
            return false;
        }

        httpRequest.onreadystatechange = alertContents;
        httpRequest.open(method, url, true);
        httpRequest.send();
    }
    
    function alertContents() {
        if (httpRequest.readyState === 4) {
            if (httpRequest.status === 200) {
                var response = JSON.parse(httpRequest.responseText);
                var container = document.getElementById('profile_list');
                for(var max=response.length, i=0; i<max; i++){
                    /*
                      ID:		
                      First Name:
                      Last Name:
                      Profile: 		View,Edit
                      Status:		Active, Invisible
                      Login:		View
                      Video:		Upload
                      Firstletter:	Upload
                      Profile views:	
                    */
                    var profile = document.createElement('DIV');
                    
                    var item = {id: 'ID', first_name: 'First Name', last_name: 'Last Name'};
                    var desc = document.createElement('OL');
                    for(var lbl in item){
                        var elm = document.createElement('LI');
                        var label = document.createElement('SPAN');
                        label.appendChild(document.createTextNode(item[lbl] +': '));
                        elm.appendChild(label);
                        var text = document.createElement('SPAN');
                        text.appendChild(document.createTextNode(response[i][lbl] || lbl));
                        elm.appendChild(text);
                        desc.appendChild(elm);
                    }
                    
                    // Profile: 	View,Edit
                    var elm = document.createElement('LI');
                    var label = document.createElement('SPAN');
                    label.appendChild(document.createTextNode('Profile: '));
                    elm.appendChild(label);
                    var text = document.createElement('SPAN');
                    var view = document.createElement('A');
                    view.setAttribute('href', '/profiles/get/'+response[i].id);
                    view.appendChild(document.createTextNode('view'));
                    var edit = document.createElement('A');
                    edit.setAttribute('href', '/profiles/get/'+response[i].id);
                    edit.appendChild(document.createTextNode('edit'));
                    text.appendChild(view);
                    text.appendChild(document.createTextNode('|'));
                    text.appendChild(edit);
                    elm.appendChild(text);
                    desc.appendChild(elm);

                    // Status:		Active, Invisible
                    var elm = document.createElement('LI');
                    var label = document.createElement('SPAN');
                    label.appendChild(document.createTextNode('Status: '));
                    elm.appendChild(label);
                    var text = document.createElement('SPAN');
                    var active = document.createElement('A');
                    active.setAttribute('href', '#');
                    active.appendChild(document.createTextNode('active'));
                    var invisible = document.createElement('A');
                    invisible.setAttribute('href', '#');
                    invisible.appendChild(document.createTextNode('invisible'));
                    text.appendChild(active);
                    text.appendChild(document.createTextNode('|'));
                    text.appendChild(invisible);
                    elm.appendChild(text);
                    desc.appendChild(elm);

                    // Login:		View
                    var elm = document.createElement('LI');
                    var label = document.createElement('SPAN');
                    label.appendChild(document.createTextNode('Login: '));
                    elm.appendChild(label);
                    var text = document.createElement('SPAN');
                    var view = document.createElement('A');
                    view.setAttribute('href', '#');
                    setEvent(view, 'click', (function(item){return function(e){
                        //e.stopImmediatePropagation();
                        e.preventDefault();
                        e.stopPropagation();
                        alert("Login: "+ item.email +"\nPassword: "+ item.password);}})(response[i]));
                    view.appendChild(document.createTextNode('view'));
                    text.appendChild(view);
                    elm.appendChild(text);
                    desc.appendChild(elm);                    
                    
                    //  Video:		Upload
                    var elm = document.createElement('LI');
                    var label = document.createElement('SPAN');
                    label.appendChild(document.createTextNode('Video: '));
                    elm.appendChild(label);
                    var text = document.createElement('SPAN');
                    var upload = document.createElement('A');
                    upload.setAttribute('href', '#');
                    setEvent(upload, 'click', (function(item){return function(e){
                        //e.stopImmediatePropagation();
                        e.preventDefault();
                        e.stopPropagation();
                        showUploadVideoPopup(item)}})(response[i]));
                    upload.appendChild(document.createTextNode('upload'));
                    text.appendChild(upload);
                    elm.appendChild(text);
                    desc.appendChild(elm);                    

                    //  Firstletter:	Upload
                    var elm = document.createElement('LI');
                    var label = document.createElement('SPAN');
                    label.appendChild(document.createTextNode('Firstletter: '));
                    elm.appendChild(label);
                    var text = document.createElement('SPAN');
                    var upload = document.createElement('A');
                    upload.setAttribute('href', '#');
                    upload.appendChild(document.createTextNode('upload'));
                    text.appendChild(upload);
                    elm.appendChild(text);
                    desc.appendChild(elm);

                    //  Profile views:
                    var elm = document.createElement('LI');
                    var label = document.createElement('SPAN');
                    label.appendChild(document.createTextNode('Profile views: '));
                    elm.appendChild(label);
                    var text = document.createElement('SPAN');
                    text.appendChild(document.createTextNode(response[i]['show']));
                    elm.appendChild(text);
                    desc.appendChild(elm);


                    var link = document.createElement('A');
                    link.setAttribute('href', '/profiles/get/'+response[i].id);
                    var avatar = document.createElement('IMG');
                    avatar.setAttribute('src', response[i].portrait);
                    avatar.setAttribute('width', 100);
                    avatar.setAttribute('height', 133);
                    link.appendChild(avatar);

                    profile.appendChild(link);
                    profile.appendChild(desc);
                    container.appendChild(profile);
                }
                console.log(response);
            } else {
                alert('There was a problem with the request.');
            }
        }
    }
})();
</script>
