<div id="profile_list"></div>
<div style="clear:left"></div>
<script type="text/javascript">
(function() {
    var httpRequest;
    makeRequest('GET', '/profiles/manage');
    
    function makeRequest(method, url) {
        if (window.XMLHttpRequest) { // Mozilla, Safari, ...
            httpRequest = new XMLHttpRequest();
        } else if (window.ActiveXObject) { // IE
            try {
                httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
            }
            catch (e) {
                try {
                    httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e) {}
            }
        }
        
        if (!httpRequest) {
            alert('Giving up :( Cannot create an XMLHTTP instance');
            return false;
        }

        httpRequest.onreadystatechange = alertContents;
        httpRequest.open(method, url, true);
        httpRequest.send();
    }
    
    function alertContents() {
        if (httpRequest.readyState === 4) {
            if (httpRequest.status === 200) {
                var response = JSON.parse(httpRequest.responseText);
                var container = document.getElementById('profile_list');
                for(var max=response.length, i=0; i<max; i++){
                    var profile = document.createElement('DIV');
                    profile.setAttribute('style', 'width:22%;margin:10px;float:left')
                    var name = document.createElement('H5');
                    name.appendChild(document.createTextNode(response[i].first_name +' '+ response[i].last_name));
                    var statistics = document.createElement('P');
                    statistics.setAttribute('style', 'font-size:0.7em;margin:0');
                    statistics.appendChild(document.createTextNode('Shown: '+ response[i].show +'; Clicked: '+ response[i].click));
                    var description = document.createElement('P');
                    description.appendChild(document.createTextNode(response[i].about));
                    profile.appendChild(name);
                    profile.appendChild(statistics);
                    profile.appendChild(description);
                    container.appendChild(profile);
                }
                console.log(response);
            } else {
                alert('There was a problem with the request.');
            }
        }
    }
})();
</script>
