<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Mini CRM</title>
        <link rel="stylesheet" type="text/css"  href="/ui/style.css" />
        <link rel="stylesheet" type="text/css"  href="/ui/app.css" />
</head>
<body>
	<div class="header">
		<h4>Description</h4>
		<h1>The mini CRM</h1>
                <ul class="menu">
                  <li><a href="/news">News</a></li>
                  <li><a href="/profiles">Profiles</a></li>
                  <li><a href="/corespondence">Correspondence</a></li>
                  <li><a href="/services">Services</a></li>
                  <li><a href="/todo">To Do</a></li>
                  <li><a href="/finance">Finance</a></li>
                  <li><a href="/reports">Reports</a></li>
                  <li><a href="/help">Help</a></li>
                  <li><a href="/settings">Settings</a></li>
                </ul>
	</div>
	<div id="content" class="content">
          <include href="{{ @content }}" />
	</div>
	<div class="footer">
		<h5>miniCRM is licensed under the terms of the GPL v3. Copyright &copy; 2012-2013</h5>
	</div>
</body>
</html>
