<div id="profile_massage"></div>
<form action="{{ @BASE }}/profiles/manage" enctype="multipart/form-data"
      method="POST" name="profile_add">
  <span class="fieldset">Анкета заполняется на английском языке. Все
  поля, отмеченные звездочкой (*) обязательны для заполнения.Правила
  заполнения анкет <a href="{{ @BASE }}/help">здесь</a>.</span>
  <fieldset> 
    <legend>Contact Details</legend>
    <ol>
      <li>
        <label class="mandatory"  for="first_name">First Name</label>
        <input class="mandatory" name="first_name" required
               id="first_name" type="text" value="" />
      </li>
      <li>    
        <label class="mandatory"  for="last_name">Last Name</label>
        <input class="mandatory" name="last_name" required
               id="last_name" type="text" value="" />
      </li>
      <li>
        <label class="mandatory"  for="birthday">Birthday</label>
        <input class="mandatory" name="birthday"
               placeholder="YYYY-MM-DD" pattern="^(19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$"
               title="Enter your birthday in format yyyy-mm-dd" required
               id="birthday" type="date" value="" />
      </li>
    </ol>
  </fieldset>
  
  <fieldset>
    <legend>Appearens</legend>  
    <ol>
      <li>
        <label class="mandatory"  for="height">Height</label>
        <input class="mandatory" name="height" type="number"
               min="50" max="250" pattern="[0-9]{2,3}" required
               value="" />
      </li>
      <li>
        <label class="mandatory"  for="weight">Weight</label>
        <input class="mandatory" name="weight" type="number"
               min="30" max="200" pattern="[0-9]{2,3}" required
               value="" />
      </li>
      <li>
        <label class="mandatory"  for="eyes">Eyes</label>
        <select class="mandatory" name="eyes" required>
          <option value="">Select</option>
          <option value="Grey" >grey</option>
          <option value="Black" >black</option>
          <option value="Blue"  >blue</option>
          <option value="Brown" >brown</option>
          <option value="Green" >green</option>
          <option value="Hazel" >hazel</option>
        </select>
      </li>
      <li>
        <label class="mandatory"  for="hair">Hair</label>
        <select class="mandatory" name="hair" required>
          <option value=''>Select</option>
          <option value='Brown'>brown</option>
          <option value='Black'>black</option>
          <option value='Blond'>blond</option>
          <option value='Auburn'>auburn</option>
          <option value='Chestnut'>chestnut</option>
          <option value='Red'  >red</option>
          <option value='Grey' >grey</option>
          <option value='White'>white</option>
        </select>
      </li>
    </ol>
  </fieldset>

  <fieldset>      
    <legend>Legend</legend>  
    <ol>
      <li>
        <label class="mandatory"  for="occupation">Occupation</label>
        <input class="mandatory" name="occupation"
               required
               type="text"  value="" />
      </li>
      <li>    
        <label class="mandatory"  for="education">Education</label>
        <select class="mandatory" name="education" required>
          <option value=''>Select</option>
          <option value='high school' >high school</option>
          <option value='some college'>some college</option>
          <option value='college'>college</option>
          <option value='graduate school'>graduate school</option>
        </select>
      </li>
      <li>
        <label class="mandatory"  for="religion">Religion</label>
        <select  class="mandatory" name="religion" required>
          <option value=''>Select</option>
          <option value='Christianity'>Christianity</option>
          <option value='Catholic'>Catholic</option>
          <option value='Orthodoxy'>Orthodoxy</option>
          <option value='Muslim'>Muslim</option>
          <option value='Buddhism'>Buddhism</option>
          <option value='Judaism'>Judaism</option>
          <option value='Atheism'>Atheism</option>
          <option value='other'>other</option>
        </select>
      </li>
      <li>
        <label class="mandatory"  for="martial_status">Marital
        Status</label>
        <select class="mandatory" name="martial_status" required>
          <option value=''>Select</option>
          <option value='never married'>never married</option>
          <option value='divorced'>divorced</option>
          <option value='widowed'>widowed</option>
        </select>
      </li>
      <li>    
        <label class="mandatory"  for="children">Children</label>
        <select class="mandatory" name="children" required>
          <option value=''>Select</option>
          <option value='0'>0</option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
        </select>
      </li>
      <li>
        <label class="mandatory"  for="language_spoken">Languages Spoken</label>
        <input class="mandatory" name="language_spoken"
               required
               type="text"  value="" />
      </li>
      <li>
        <label class="mandatory"  for="english_proficiency">English
        Proficiency</label>
        <select class="mandatory" name="english_proficiency" required>
          <option value=''>Select</option>
          <option value='basic'>basic</option>
          <option value='intermediate'>intermediate</option>
          <option value='good'>good</option>
          <option value='excellent'>excellent</option>
        </select>
      </li>
      <li>    
        <label class="mandatory"  for="smoking">Smoking</label>
        <select class="mandatory" name="smoking" required>
          <option value=''>Select</option>
          <option value='yes'>yes</option>
          <option value='no'>no</option>
        </select>
      </li>
      <li>
        <label class="mandatory"  for="looking_for_age">Looking for age</label>
        <input class="mandatory" name="looking_for_age"
               required
               type="text"  value="" />
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Contacts</legend>
    <ol>
      <li>
        <label class="mandatory"  for="city">City</label>
        <input class="mandatory" name="city" type="text"
               required
               value="" />
      </li>
      <li>
        <label class="mandatory"  for="country">Country</label>
        <select class="mandatory" name="country" required>
          <option value=''>Select</option>
          <option value='Russian Federation'>Russian Federation</option>
          <option value='Ukraine'>Ukraine</option>
        </select>
      </li>
      <li class="wide">
        <fieldset>
          <ol>
            <li>
              <label class="mandatory"  for="phone">Phone</label>
              <input class="mandatory" name="phone"
                     required
                     type="tel"  value="" />
            </li>
            <li>
              <label class="mandatory"  for="email">Email</label>
              <input class="mandatory" name="email"
                     required
                     type="email"  value="" />
            </li>
          </ol>
        </fieldset>
      </li>
      <li class="wide">
        <span>Адрес заполняется в последовательности: почтовый индекс,
        улица, номер дома, квартира.</span>
        <label    class="mandatory"  for="post_address">Post Address</label>
        <textarea class="mandatory" name="post_address" required></textarea>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>About</legend>  
    <ol>
      <li class="wide">
        <label    class="mandatory"  for="hobbies">My hobbies are</label>
        <textarea class="mandatory" name="hobbies" required></textarea>
      </li>
      <li class="wide">
        <label    class="mandatory"  for="about">More about me</label>
        <textarea class="mandatory" name="about" required></textarea>
      </li>
      <li class="wide">
        <label    class="mandatory"  for="ideal_relationship">Ideal relationship</label>
        <textarea class="mandatory" name="ideal_relationship" required></textarea>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Photos</legend>
    <span>В разделе Portrait фото должно быть размером 100x133
    пикселей и в формате JPEG.</span>
    <ol>
      <li>
        <label  for="portrait">Portrait</label>
        <input id="portrait" name="portrait" type="file" />
      </li>
      <li>
        <label class="mandatory"  for="photo1">Photo 1</label>
        <input id="photo1" class="mandatory" name="photo1" type="file" />
      </li>
      <li>
        <label  for="photo2">Photo 2</label>
        <input id="photo2" name="photo2" type="file" />
      </li>
      <li>
        <label  for="photo3">Photo 3</label>
        <input id="photo3" name="photo3" type="file" />
      </li>
      <li>
        <label  for="photo4">Photo 4</label>
        <input id="photo4" name="photo4" type="file" />
      </li>
      <li>
        <label  for="photo5">Photo 5</label>
        <input id="photo5" name="photo5" type="file" />
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Passport</legend>
    <span>Вам необходимо загрузить цветную скан-копию страницы
    паспорта или другого идентификационного документа, в котором есть
    фотография девушки, ее фамилия, имя, дата рождения.ЦВЕТНАЯ копия
    должна быть размером не менее 600 пикселей в ширину.</span>
    <ol>
      <li>
        <label  for="passport">Passport Copy</label>
        <input id="passport" name="passport" type="file" />
      </li>
    </ol>
  </fieldset>

  <fieldset class="submit">
    <span id="form_message" class="warning"></span>
    <input class="submit" type="submit" value="Save Profile" />
  </fieldset>  
</form>
<link rel="stylesheet" type="text/css"  href="{{ @BASE }}/ui/css/profile.css" />
<script src="{{ @BASE }}/ui/js/profile.js" type="text/javascript"></script>
