<center>
<h3 align="center">Video for Julia - #2747917</h3>

<form action="{{ @BASE }}/uploadvideo.php?profile_id=2747917" enctype="multipart/form-data" method="post">
<table cellspacing="1" style="background:#000000">
	<!-- Can upload videos: 1 -->
	<tbody><tr style="background:#ffffff">
		<td colspan="2">
			<span style="font-weight:bold;color: red">Upload New Video Here:</span>
		</td>
		
	</tr><tr style="background:#ffffff">
		<td>Profile:</td>
		<td><img border="0" src="/i/im2747917_small.jpg"></td>
	</tr>
	<tr style="background:#ffffff">
		<td>Upload New Video:</td>
		<td>
			<input type="file" name="video"><input type="hidden" value="20000000" name="MAX_FILE_SIZE"><br>
		</td>
	</tr>
	<tr style="background:#ffffff">
		<td>Title:</td>
		<td> <input type="text" value="" name="title"></td>
	</tr>
	<tr style="background:#aaaaaa">
		<td align="center" colspan="2">
			<input type="hidden" value="0" name="id">
			<input type="hidden" value="uploadVideo" name="__tcAction">
			<input type="submit" value="Upload">
		</td>
	</tr>
</tbody></table>
</form>

</center>
